header {
    height: 60px;
    padding: 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    height: 22px;

}

.menu-title {
    font-weight: bold;
}

.menu-list {
    display: none;    
}

.menu-list-item-c {
    list-style: none;
}

@media (min-width:1024px) {
    header {
        padding: 10px 100px;
    }

    .logo {
        font-size: 16px;
    }

    .menu-list {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        gap: 20px;
    }

    .menu-list-item-c {
        display: none;
    }

}